
@import url('https://fonts.googleapis.com/css?family=Inria+Serif:300,300i,400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i&display=swap');

/* basics */

:root {
    --color-principal: #306291;
    --color-botones-fondo: #eee;
    --color-botones-borde: #ccc;
    --color-texto: #1f1f11;
    --color-contraste: #ff7900;
    --color-texto-secundario: #666666;
    --color-fondo:  rgba(69, 141, 209, 0.2);
}

* {
    box-sizing: border-box;
}

body,
ul {
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Inria Serif', serif;
    color: var(--color-texto);
}

h1,
h2{
    font-family:'Inria Serif', serif;
    color: var(--color-principal);
}

h1 {
    color: var(--color-principal);
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    margin: 40px 0;
}

h2{
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 25px;
    font-size: 1.3333333333333333rem;
}

p {
    color: black;
    font-size: 1rem;
    line-height: 1.4rem;
    margin-top: 10px;
}

a {
    color: var(--color-principal);
    border-bottom: 2px solid var(--color-principal);
    text-decoration: none;
}

a:hover{
    color: var(--color-contraste);
    border-bottom: 2px solid var(--color-contraste);
}

cite,
i {
    font-style: normal;
}

abbr {
    font-style: normal;
    text-decoration: none;
}

.sr {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 40px;
}

/* header */

header {
    position: relative;
    background: var(--color-fondo);
}

header:after {
    content: "";
    width: 100%;
    position: absolute;
    border-bottom: 2px solid var(--color-principal);
}


.container-header {
    padding: 20px 100px;
    max-width: 1200px;
    margin: 0px auto;
}

header nav ul {
    margin: 0; 
    padding: 0; 
    list-style: none;
    display: inline-flex;
    width: 100%;
}

header nav li {
    margin-left: 2%;
    flex: 2;
}


nav li.pagina-activa a {
    color: var(--color-contraste);
}

nav li.pagina-activa a:hover {
    cursor: initial;
    border: 1px solid var(--color-botones-borde);
    color: var(--color-contraste)    
}

nav li a {
    color: var(--color-principal);
    font-weight: 600;
    text-decoration: none;
    border-bottom: none;
    background: var(--color-botones-fondo);
    padding: 10px 20px; 
    display: inline-block; 
    width: 100%; 
    text-align: center; 
    border: 1px solid var(--color-botones-borde);
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.2vw;
    font-family: 'Lato', sans-serif;
    
}

header nav li a:hover{
    text-decoration: none;
    border: 1px solid var(--color-contraste);
}

nav li:first-child {
    margin-left: 0;
}

.logo,
.logo:hover,
.logo:focus {
    border-bottom: none;
    background: initial;
    border: initial;
    padding: 0;
}

.logo img {
    height: 60px;
}

/* footer */

.container-footer{
    padding: 20px 20px 40px 20px;
}

main+footer {
    position: relative;
    background: var(--color-fondo);
}

footer:before {
    content: "";
    width: 100%;
    position: absolute;
    border-bottom: 2px solid var(--color-principal);
}

.footer-author a {
    word-break: break-all;
}

.footer-nav {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 80px 50px;
}

.footer-nav-left {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: start;
}

.footer-nav-right {
    grid-column-start: 2;
    justify-self: end;
}

.footer-nav-right a {
    text-decoration: none;
    background-color: initial;
    border: initial;
    font-size: 3rem;
    padding: 0px 10px;
}
 
 .footer-nav-right a:hover{
     cursor: pointer;
     color: inherit;
 }

.footer-author{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}


.footer-author p{
    text-align: left;
}

.footer-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-nav li {
    display: inline-block;
    padding: 10px 10px 0 0;
}

.footer-nav li:last-child{
    padding: 10px 0 0 0;
}

footer .logo-fb{
    background: url("../img/fb.png") no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px;
    display: block;
}

footer .logo-tw{
    background: url("../img/tw.png") no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px;
    display: block;
}

footer .logo-yt{
    background: url("../img/yt.png") no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px;
    display: block;
}

footer .go-top{
    background: url("../img/go-top.png") no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px;
    text-decoration: none;
    border: none;
    float: right;
    margin: 20px 0px 0px 20px;
}


.footer-nav-left li a:hover,
.footer-nav-left li a:focus{
    text-decoration: none;
    border: 1px solid var(--color-contraste);
}

/* index.html */

.container-principal {
    padding: 40px 100px;
    max-width: 1200px;
    margin: 0px auto;
}

.container-images {
    padding: 0px 200px 200px 200px;
}

.container-images-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 100px;
}

.container-images-grid a {
    border: none;
    display: inherit;
}

.container-images-grid-item {
    width: 100%;
}

.container-images h2{
    text-align: center;
    margin: 0px 0px 20px 0px;
}

figure {
    width: 100%;
    margin: 40px auto;
    text-align: center;
}

section > h2{
    margin: 0 0 20px 0;
    text-align: center;
}

figcaption {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1rem;
}

.video-fluido {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.video-fluido-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.video-fluido::before {
    display: block;
    content: "";
    padding-top: 35%;
}

/*Categorias*/

.menu-migas-de-pan{
    display: inline;
    font-weight: 600;
}

.menu-migas-de-pan span {
    color: var(--color-contraste);
}

.menu-migas-de-pan a {
    border-bottom: none;
}

.container-categorias-grid {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}

.container-categorias-grid-item {
    width: 100%;
    justify-items: left;
    display: inline-grid;
    text-align: left;
    min-height: 300px;
    align-items: center;
    max-width: 300px;
    margin: 0px auto;
}

.container-categorias-grid-item img{
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    padding: 20px;
    margin: 0px auto;
}

.grid-image-item {
    justify-self: right;
    margin: 0;
}

.container-categorias-grid-item a {
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: none;
    text-decoration: none;
    padding: 10px 0px;
    display: block;
}

.container-categorias-grid-item p{
    margin-top: 0;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.container-categorias-grid-item p + a {
    font-size: 1rem;
    font-weight: 600;
}

/* Categorias detalle */

.container-categoria-detalle {
    display: flex;
    width: 100%;
}

.container-categoria-detalle img {
    max-width: 400px;
    padding: 40px 40px 20px 40px;
    width: 100%;
}

.container-categoria-detalle-aside a {
    border-bottom: none;

}

.container-categoria-detalle-aside{
    flex: 2
}

.container-categoria-detalle-main{
    flex: 3
}

.container-categoria-detalle-aside ul {
    list-style: none;
    line-height: 1.4rem;
    font-weight: 600;
}

.container-categoria-detalle-main ul, .container-categoria-detalle-main ol {
    line-height: 1.4rem;
}

.container-categoria-detalle-aside li, .container-categoria-detalle-main li {
    padding: 5px 0px;
    color: var(--color-principal);
}

.detalle-bloque{
    padding: 10px 20px;
}

.detalle-bloque ul, ol {
    margin: 0.5rem 0;
    padding: 0 1rem;
}


@media all and (max-width: 800px) { 
    header nav ul {
        display: block;
        max-width: 400px;
        margin: 0px auto; 
    }
    
    header nav li { 
        margin: 20px 0;
    }

    nav li a {
        font-size: initial;
    }
/* 
    header nav li:nth-child(3) {
        width: 60px;
        height: 60px;
        margin: 0px auto;
    } */

    .container-header, .container-principal {
        padding: 20px;
    }
 
    .footer-nav {
        display: block;
        width: 100%;
        margin: 0px auto;
    }

    .footer-nav-left {
        max-width: 400px;
        margin: 0px auto;
        padding-bottom: 40px;
    }

    .footer-nav-right ul {
        text-align: center;
    }

    .footer-nav li, .footer-nav li:last-child {
        width: 100%;
        display: inline-block;
        padding: 0;
        margin: 10px 0;
    }

    .footer-nav-right a {
        display: inherit;
    }

    .footer-author {
        padding-top: 40px;
    }

    .container-images {
        padding-top: 0;
    }

    .container-categorias-grid, .container-categorias-grid-item {
        display: inline-block;
        width: 100%;
        margin: 0px auto;
        min-height: initial;
        text-align: center;
        max-width: initial;
    }

    .container-categorias-grid-item p {
        padding: 5px 0;
        text-align: left;
    }

    .container-categorias-grid-item p + a {
        float: left;
    }

    .menu-migas-de-pan-center{
        text-align: center;
    }

    .container-categoria-detalle {
        display: block;
    }

    .container-categoria-detalle-aside, .container-categoria-detalle-main {
        padding: 10px 0;
    }
    
    .container-categoria-detalle-aside {
        text-align: center;
    }

    .container-contacto fieldset label  {
        width: 100%;
        margin-bottom: 5px;
    }
    
    input, select, textarea {
        width: 100%;
    }
}
